<div class="agency-hero">
    <section class="container">
        <div class="hero-text">
            <p class="customFadeInUp">
                Hello, I'm <span>Louis Campbell</span>. <br>
                I am a full-stack web developer & hobbyist game developer.
            </p>
            <a href="#portfolio" class="customFadeInUp">
                See my work
            </a>
        </div>
    </section>
</div>