<section>
    <div class="container">
        <h4>Technical Skills</h4>
        <div class="row">
            <div class="col-md-4">
                <h5>Languages</h5>
                <ul>
                    <li>C#</li>
                    <li>C++</li>
                    <li>PHP</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>SASS</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Frameworks</h5>
                <ul>
                    <li>Xamarin Native</li>
                    <li>Xamarin Forms</li>
                    <li>Xamarin Mac</li>
                    <li>Entity Framework</li>
                    <li>ASP.NET Core</li>
                    <li>Laravel</li>
                    <li>Angular 8</li>
                    <li>Vue</li>
                    <li>Skia</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Tools</h5>
                <ul>
                    <li>Photoshop</li>
                    <li>Illustrator</li>
                    <li>Maya</li>
                    <li>Unity Engine</li>
                    <li>Unreal Engine</li>
                    <li>Latex</li>
                    <li>Microsoft Office</li>
                    <li>Jetbrains Suite</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
    </div>
</section>