<div class="agency-portfolio" id="portfolio">
  <div class="container">
    <h2>
      My latest projects
    </h2>
    <div id="filter" class="align-content-center">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" [ngClass]="{'active' : isActive(0)}" (click)="changeFilter(0)">All</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" [ngClass]="{'active' : isActive(1)}" (click)="changeFilter(1)">Web
            Development</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" [ngClass]="{'active' : isActive(2)}" (click)="changeFilter(2)">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio" [ngClass]="{'active' : isActive(3)}" (click)="changeFilter(3)">Mobile &
            Desktop</a>
        </li>
      </ul>
    </div>

    <div class="blog-posts-list">
      <div class="container">

        <div class="row" *ngFor="let entry of portfolioEntries" [hidden]="isHidden(entry.category)" >
          <div class="col-12">
            <div class="post">
              <a href="{{entry.url}}" class="title" target="_blank">
                {{ entry.title }}
              </a>
              <a href="{{entry.url}}" class="bg"  [ngStyle]="{ backgroundImage : 'url(\'' + entry.pictureUrl + '\')'} " target="_blank">
              </a>
              <div class="description">
                {{ entry.description }}
              </div>
              <div class="technologies">
                <h5>Used technologies</h5>
                <div class="row">
                  <div class="col col-md-3" *ngFor="let technology of entry.technologies">
                    <i [ngClass]="technology.iconClass"></i> {{technology.name}}
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top: 15px" *ngIf="entry.sourceUrl != ''">
                <div class="col text-right">
                  <a href="{{entry.sourceUrl}}" class="btn btn-outline-dark" target="_blank"><i class="ion-logo-bitbucket"></i> View Source</a>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
