<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
    <div class="container no-override">
        <a class="navbar-brand" href="#">
            Campbell Louis
        </a>
        <button class="navbar-toggler" (click)="toggleNavBar()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': navBarOpen }" id="navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#portfolio" class="nav-link">
                        Portfolio
                    </a>
                </li>
              <li class="nav-item">
                <a href="#contact" class="nav-link">
                  Contact
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link--rounded" target="_blank" href="/resume/resume.pdf">Download Resume</a>
              </li>
            </ul>

        </div>
    </div>
</nav>
