/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:600&display=swap')
body
    height: auto !important
    background-color: #F9F8F8

.footer-wrapper
  transform: translateY(-40px)
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0px
